* {
  margin: 0;
  padding: 0;
}
html,
body,
#app,
.app-container {
  height: 100%;
}

@import "@/components/style.scss";

.app-container {
  padding: 50px;
  box-sizing: border-box;
  .react-upload-weibo {
    color: #000;
    border: 4px dashed #ccc;
    padding: 20px;
    user-select: none;
    &:hover {
      border-color: #ddd;
      background: #f3f3f3;
    }
  }

  .button {
    background: #3cc51f;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    border: none;

    &:active {
      background: darken(#3cc51f, 10%);
    }

    &:focus {
      outline: none;
    }
  }
}
